# Backend
backend/.env
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/job.json
backend/test_resume.pdf

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Storebackend/routers/__pycache__/
backend/login.json
backend/test_resume_real.pdf
backend/services/__pycache__/
